@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dana-fanum-regular.eot") format("embedded-opentype"),
    url("../fonts/dana-fanum-regular.woff2") format("woff2"),
    url("../fonts/dana-fanum-regular.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/KalamehWeb(FaNum)-Regular.eot") format("embedded-opentype"),
    url("../fonts/KalamehWeb(FaNum)-Regular.woff2") format("woff2"),
    url("../fonts/KalamehWeb(FaNum)-Regular.woff") format("woff");
}
