@import "./font.css";
/* ////////////// */
@tailwind components;
@tailwind utilities;
@tailwind base;
/* //////////////// */
@layer base {
  body {
    font-size: 14px;
  }
  * {
    user-select: none; /* Non-prefixed version, currently*/
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -khtml-user-select: none; /* Konqueror HTML */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -webkit-user-drag: none;
    scroll-behavior: smooth;
    font-family: kalameh;
  }
  ::-webkit-scrollbar {
    width: 5px !important;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#0D0870] !important;
  }
  ::-webkit-scrollbar-button {
    display: none !important;
  }
  ::-webkit-scrollbar-track-piece {
    @apply bg-transparent !important;
  }
}
